<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7fb2b68ee1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/loginstyle.css">
</head>
<body>

<button class="close-button" onclick="window.location.href='/'">×</button>
<button class="sign-up" onclick="window.location.href='/register'">SIGN UP</button>

    <div class="login-container">
        <h1>Log in</h1>
        
        <form method="POST">
            
            {% if error %}
            <div class="error-message">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <p class="error">{{ error }}</p>
            </div>
            {% endif %}
            
            <input type="text" placeholder="Email" name="email">
            <div class="password-container">
                <input type="password" placeholder="Password" name="password">
                <a href="#" class="forgot-link">FORGOT?</a>
            </div>
            
            <button type="submit" class="login-button">LOG IN</button>
        </form> 
        
        <!--  -->
        <p class="terms-text">
            By signing in to Signlingo, you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.
        </p>
        
        <p class="recaptcha-text">
            This site is protected by reCAPTCHA Enterprise and the Google <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a> apply.
        </p>
    </div>
    
    <script src="../static/loginlogic.js"></script>
</body>
</html>