<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7fb2b68ee1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}"> </head>
<body>
    <button class="close-button" onclick="window.location.href='/'">×</button>

    <div class="login-container">
        <h1>Reset Your Password</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="error-message" style="background-color: {% if category == 'success' %}#e6fffa; color: #00A378;{% else %}#fbe9e7; color: #d84315;{% endif %}">
                        <i class="fa-solid {% if category == 'success' %}fa-check-circle{% else %}fa-triangle-exclamation{% endif %}"></i>
                        <p class="error">{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% if error_message %}
             <div class="error-message">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <p class="error">{{ error_message }}</p>
            </div>
        {% endif %}


        <form method="POST" action="{{ url_for('auth.reset_password', token=token) }}">
            <input type="password" placeholder="Enter new password" name="password" required>
            <input type="password" placeholder="Confirm new password" name="confirm_password" required>
            <button type="submit" class="login-button">Reset Password</button>
        </form>
    </div>
</body>
</html>