<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Your Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7fb2b68ee1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/signstyle.css">
</head>
<body>
    <button class="close-button" onclick="window.location.href='/'">×</button>
    <button class="login-button" onclick="window.location.href='/login'">LOGIN</button>
    
    <form class="container" id="signup-form" method="POST">

        <h1>Create your profile</h1>

        {% if error %}
        <div class="error-message">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <p class="error">{{ error }}</p>
        </div>
        {% endif %}
    
        <input type="number" placeholder="Age" name="age" required>
        <input type="text" placeholder="Name (optional)" name="name">
        <input type="email" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
    
        <button type="submit" class="create-account-btn">CREATE ACCOUNT</button>
    
        <!--  -->
    
        <p class="terms-text">
            By signing in to Signlingo, you agree to our <a href="#">Terms</a> and 
            <a href="#">Privacy Policy</a>.
        </p>
    
        <p class="captcha-text">
            This site is protected by reCAPTCHA Enterprise and the 
            Google <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a> apply.
        </p>
    </form>
    <script src="../static/signinlogic.js"></script>
</body>
</html>
